{% include "money_manage/partials/head" %}

<body>
  <body>
    <header>
       <div>
            <div class="container-identificacao-detalhamento-malha10" style="font-size: 25px; ">
                <h1><strong>MALHA FISCAL N° 25 <i>MOVIMENTO REAL TRIBUTÁVEL - MRT</i></strong></h1>
                <p><strong>PERIODO: <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="font-size: 25px;">2020 <img src="search.svg" alt="" style="color: white;"></button></strong></p>
            </div>
        </div>
    </header>


<!--Botão de escolha do ano a ser apresentado.-->



    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="max-width: 15%;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" style="font-size: 20px; text-align: center; ">Exercício sendo Auditado:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <button type="button" class="btn btn-primary" style="font-size: 27px;"><a href="" aria-label="Close" data-bs-dismiss="offcanvas" target="_self" style="color: white; text-decoration: none;">2020</a></button>
    <div class="offcanvas-body">
        <p>Outros exercícios:</p>
        <div class="col" style="align-content: center; align-items: space-between; max-width:min-content; margin: 0 auto;">
            <button class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 45px;"><a href="malha25-2017.html" target="_self"  style="color: white; text-decoration:none">2017</a> </button>
            <button class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 10px;">2018</button>
            <button class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 10px;">2019</button>
            <button class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 10px;">2021</button>
            <button class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 10px;">2022</button>
        </div>
    </div>
    </div>
    
<!--Fim do botão de escolha do ano a ser apresentado.-->

    <h1 style="text-align: center; padding-bottom: 45px;">DEMONSTRAÇÃO FINANCEIRA – REGIME DE CAIXA – ESCRITA FISCAL</h1>
    <div class="row" style="max-width: 1800px; width: 100%;">
        <div class="container" style="max-width: 900px; width: 100%; padding-left: 30px;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; max-width: 35%;">RECEITAS</th>
                        <th scope="col" style="text-align: center; max-width: 15%;">VALOR R$</th>
                    </tr>
                </thead>
                <tbody style="border: 2px solid black;">
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Mercadorias - Próprio Estado</td>
                        <td scope="col" style="text-align: end;"> 39.420.280,75</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Mercadorias - Outros Estados</td>
                        <td scope="col" style="text-align: end;"> 61.899.161,21</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Mercadorias - Exterior</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas Veículos, Máq. Equipamentos</td>
                        <td scope="col" style="text-align: end;"> 21.551,40</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Imóveis Próprios</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Imóveis Próprios</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Receitas de Serviços Tributados ISSQN</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Receitas de Aluguéis Recebidos</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Receitas de Financeiras Recebidas</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Descontos Obtidos</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Empréstimos Recebidos</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Fornecedores a Pagar em aberto</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">OUTRAS RECEITAS:</td>
                        <td scope="col" style="text-align: end; border-right: 1px solid black;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Devolução de Compras</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Notas Fiscais de Vendas não registradas</td>
                        <td scope="col" style="text-align: end;"></td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border: 2px solid black; border-right: 1px solid black;"><strong>SOMA RECEITAS (Total de Ingressos)</strong></td>
                        <td scope="col" style="text-align: end; border: 2px solid black; border-left: none;"></td>
                    </tr>
            </table>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; max-width: 100%;"> <strong>NOTAS:</strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="max-width: 50%;">1 - Dados Extraídos da Escrituração Fiscal Digital do contribuinte e Notas Fiscais Eletrônicas Emitidas e Recebidas.</td>
                    </tr>
                    <tr>
                        <td style="max-width: 50%;">2 - Foi verificado que esta empresa apresentou indícios de insuficiência de vendas, conforme demonstrativo.</td>
                    </tr>
                </tbody>
                </tbody>
            </table>
        </div>
        <div class="container" style="max-width: 900px; width: 100%; "> 
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; max-width: 35%;">DESPESAS</th>
                        <th scope="col" style="text-align: center; max-width: 15%;">VALOR R$</th>
                    </tr>
                </thead>
                <tbody style="border: 2px solid black;">
                    <tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Compras de Mercadorias - Próprio Estado</td>
                            <td scope="col" style="text-align: end;"> 8.337.814,84</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Compras de Mercadorias - Outros Estados</td>
                            <td scope="col" style="text-align: end;">  106.094.830,44</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Compras de Mercadorias - Exterior</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Aquis. Energia, Comunicação</td>
                            <td scope="col" style="text-align: end;"> 478.733,02</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Aquis. Ativo Fixo, Mat. Uso e Consumo</td>
                            <td scope="col" style="text-align: end;"> 829.011,79</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Tributos Federais: IRPJ, PIS, CONFINS, ETC.</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Tributos Estaduais: ICMS, IPVA, ETC.</td>
                            <td scope="col" style="text-align: end;"> 493.722,71</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Tributos Municipais: ISSQN, LICENÇA, ETC.</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">FGTS e Contribuição Previdência Social</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Amortização de Emprestimos</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Fornecedores Pagos ref. exercício anterior</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Retirada Pro-Labore</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Salários, Ordenados, 13º Salário, Férias</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Honorários Contabeis e Advocaticios</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Aluguéis e Encargos Pagos</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Água e Esgoto</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Vendas de Mercadorias a Receber</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Devolução de Vendas</td>
                            <td scope="col" style="text-align: end;"> 1.430.458,87</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">INSS</td>
                            <td scope="col" style="text-align: end;"></td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border-right: 1px solid black;">Notas Fiscais de Aquisição Não Registradas</td>
                            <td scope="col" style="text-align: end;"> 4.654.046,96</td>
                        </tr>
                        <tr>
                            <td scope="col" style="text-align: start; border: 2px solid black; border-right: 1px solid black;"><strong>SOMA RECEITAS (Total de Ingressos)</strong></td>
                            <td scope="col" style="text-align: end; border: 2px solid black; border-left: none;"> 122.318.618,63</td>
                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
    <h3 style="text-align: center; padding-top: 45px; padding-bottom: 45px;"> <strong>BALACEAMENTO FINANCEIRO DO PERÍODO</strong></h3>
    <div class="row" style="max-width: 1800px; width: 100%;">
        <div class="container" style="max-width: 900px; width: 100%; padding-left: 30px;" >
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; max-width: 35%;">DÉBITOS</th>
                        <th scope="col" style="text-align: center; max-width: 15%;">VALOR R$</th>
                    </tr>
                </thead>
                <tbody style="border: 2px solid black;">
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Caixa/Bancos Inicial</td>
                        <td scope="col" style="text-align: end;">  50.438,87</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Receitas Demonstradas Acima</td>
                        <td scope="col" style="text-align: end;">   102.424.029,72</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Capital e seus aumentos integralizados no ano, Moeda</td>
                        <td scope="col" style="text-align: end;"> </td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Omissão de Vendas</td>
                        <td scope="col" style="text-align: end; color: red;"> <strong>19.971.485,16</strong> </td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border: 2px solid black; border-right: 1px solid black;"><strong>SOMA (Total de Ingressos + Débitos)</strong></td>
                        <td scope="col" style="text-align: end; border: 2px solid black; border-left: none;"> 122.445.953,75</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" style="max-width: 900px; width: 100%; padding-left: 30px;" >
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; max-width: 35%;">CRÉDITOS</th>
                        <th scope="col" style="text-align: center; max-width: 15%;">VALOR R$</th>
                    </tr>
                </thead>
                <tbody style="border: 2px solid black;">
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Caixa/Bancos Inicial</td>
                        <td scope="col" style="text-align: end;"> 127.335,12</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border-right: 1px solid black;">Despesas Demonstradas Acima</td>
                        <td scope="col" style="text-align: end;">    122.318.618,63</td>
                    </tr>
                    <tr>
                        <td scope="col" style="text-align: start; border: 2px solid black; border-right: 1px solid black;"><strong>SOMA (Total de Desembolsos + Créditos)</strong></td>
                        <td scope="col" style="text-align: end; border: 2px solid black; border-left: none;"> 122.445.953,75</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
  </body>
</body>
</html>